.login-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #8a3ffc, #3f7bfc);
    font-family: "Poppins", sans-serif;
}

.login-card{
    background: #fff;
    width: 380px;
    padding: 40px 35px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.logo{
    width: 15em;
    height: 10em;
    margin-bottom: 6px;
}